* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
  background-color: #f0f0f0;
}

body a {
  text-decoration: none;
  color: inherit;
}

body a:hover {
  color: #46352c;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

body a:active {
  color: white;
  text-shadow: #fff 0 0 10px;
}

header {
  background: rgba(70, 53, 44, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .logo {
  font-size: 1.4rem;
  font-weight: 600;
}

header ul {
  list-style: none;
  font-weight: 600;
}

header ul li {
  display: inline-block;
  padding-left: 20px;
}

header ul a {
  border-bottom: 1px solid transparent;
}

header ul a:hover {
  border-bottom: 1px solid #46352c;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
		  text-align: center;
  background: url(img/bg.jpg) no-repeat fixed center/cover;
  position: relative;
  color: white;
  a: active;
}

main * {
  z-index: 0;
}

main h1 {
  margin-bottom: 1rem;
}

main p {
  margin-bottom: 4rem;
}

main a {
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 20px;
}

main a:hover {
  background-color: rgba(255, 255, 255, 0.65);
  color: #46352c;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

main a:active {
  background-color: white;
}

main::before {
  content: '';
  background: rgba(70, 53, 44, 0.40);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2 {
  color: white;
  text-align: center;
}

.dark {
  background-color: #333;
  border-bottom: 2px solid #4d4d4d;
}

.light {
  background-color: #999;
  border-bottom: 2px solid #b3b3b3;
}

.info {
  padding: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.info span {
  font-weight: bold;
}

.info .price {
  float: right;
  font-size: 1.3em;
}

.info .date {
  font-style: italic;
  color: #808080;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: white;
  padding: 10px;
}

.photo .floorplan {
  max-width: 40%;
  max-height: 100vh;
}

.photo .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;
}

.photo .gallery img {
  width: 50%;
  padding: 5px;
}

.solo {
	width: 66%;
	padding: 5px;
}

.map {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
	.photo .floorplan {
	  max-width: 40%;
	  max-height: 80vh;
}
 
	.photo .gallery {
		  max-width: 70%;
		  margin: 0 auto;
}
	
	.gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
			margin: 0;
  }
  
	.photo .gallery img {
	  width: 80%;
	  padding: 5px;
	}

	.solo {
		width: 80%;
		padding: 5px;
	}
}

@media only screen and (max-width: 600px) {
  nav ul{
	  display: none;
  }
  
  .photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .photo .gallery {
	  max-width: 100%;
	  margin: 0 auto;
}
  
  .photo .floorplan {
	  max-width: 100%;
	  max-height: 70vh;
	}
	
	.photo .gallery img {
	  width: 100%;
	  padding: 5px;
	}

	.solo {
		width: 100%;
		padding: 5px;
	}
}

footer p {
	background-color: #333;
	border-top: 2px solid #4d4d4d;
	color: white;
	font-size: 1.1rem;
	text-align: center;
	margin-top: auto;
	padding: 20px 0;
	
	
	
}
/*# sourceMappingURL=style.css.map */